

ul {
    list-style-type: none;
    display: inline-flex;
    overflow: hidden;
    height: fit-content;
    align-self: center;
  }

  li{
    background-color: #333;
    margin-right: 10px;
  }

  .conteudo
  {
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  img {
    display: inline-block;
    border-radius: 4px;
    padding: 5px;
    margin-left: 20px;
    width: 300px;
    height: 200px;
  }

  img.logo {
    display: inline-block;
    border-radius: 4px;
    padding: 5px;
    margin-left: 20px;
    width: 150px;
    height: 75px;
    object-fit: cover;
  }

  .header{
    display: flex;
    vertical-align: middle;
  }

  .vl {
    border-left: 1px solid;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 40%;
  }

  .column {
    float: left;
    padding: 5px;
  }

  h1
  {
    width: 50%;
    height: 70%;
    font-family: sans-serif;
    text-align: left;
    min-height: 100px;
  }

  h1.primeiro
  {
    width: 50%;
    height: 70%;
    font-family: sans-serif;
    text-align: left;
    min-height: 100px;
    padding-left: 20%;
  }

  h1.titulu
  {
    width: 80%;
    font-family: sans-serif;
    text-align: left;
  }

  p{
    font-family: sans-serif;
    font-size: 18px;
  }

  p.minitexto{
    padding-left: 20%;
  }

  p.titulo{
    width: 80%;
    font-family: sans-serif;
    text-align: left;
    min-height: 10px;
  }

  p.data{
    font-family: sans-serif;
    font-size: 20px;
    height: 50%;
    width: 50%;
    text-align: left;
  }

  p.texto{
    font-family: sans-serif;
    font-size: 30px;
    padding-left: 10%;
    height: 50%;
    width: 50%;
    text-align: left;

  }

  div.bignoticia {
    text-decoration: none;
    text-align: center;
    display: inherit;
    margin-left: 20px;
  }

  div.normalnoticia {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin-left: 200px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: inline-block;
    color: rgb(211, 183, 183);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }